body{
  background-color:#FC8DCA;
}

.navegar ul li a{
    list-style: none;
    font-family: Indie Flower;
    margin: 20px;
    font-size: 35px;
    text-decoration: none;
    color: #D9048E;
   
} 
.navegar ul li{
    display: inline;
}
.navegar{
    text-align: center;
}
.nome{
    margin: 60px;
}
.nome p{
    text-align: center;
    font-family:Roboto Mono;
    padding: 15px;
    font-size: 20px;


}
.nome h2{
    font-family:Amatic SC ;
    font-size: 40px;
    text-align: center;
}
.imagem1 img{
    padding: 15px;
    margin-left: 480px;
    height: 200px;
    width: 100%;
    margin: auto;
}
.imagem1{
    margin: auto;
    width:25% ;
    
}
.computer img{
    width: 100%;
    height: auto;
    margin-left: 600px;
    margin-top: 100px;
    margin: auto;
    
}
.computer{
    margin: auto;
    width: 5%;
}