body{
    background-color:#88A3E2;
}
.navegar ul li a{
    list-style: none;
    font-family: Indie Flower;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    color:#103778;
   
} 
.navegar ul li{
    display: inline;

}
.navegar{
    text-align: center;
}
.contato {
    position: absolute;
    top: 30%;
    left: 200px;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "texto texto"
        "imagemUm textoDois " 
        "imagemDois textoTres " 
    ;
}
.contato h1{
    grid-area: texto;
    font-family: Roboto Mono ;
    font-size: 30px;
    color:#103778;
}
.contato h2{
    display: inline-block;
    position: relative;
    margin-top: auto;
}
.contato img{
    width:70px;
}

.textoDois {
    grid-area: textoDois;
    font-family:Amatic SC ;
    font-size:30px ;
  
}
.textoTres {
    grid-area: textoTres;
    font-family:Amatic SC ;
    font-size:30px ;
    text-decoration: none;
}
.navegar ul li a{
    list-style: none;
    font-family: Indie Flower;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    color:#103778;
   
} 
.navegar ul li{
    display: inline;

}
.navegar{
    text-align: center;
}
.computer img{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 450px;
    
    }
.computer{
    width:5%;
    margin: auto;

}
