body{
    background-color:#B7A6F6;
    
}
.navegar ul li a{
    list-style: none;
    font-family: Indie Flower;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    color:#976DF2;
   
} 
.navegar ul li{
    display: inline;

}
.navegar{
    text-align: center;
}
.barbearia img{
    width: 600px;
    height: auto;
    border-radius: 15px;
}
.figma img{
    width: 600px;
    height: auto;
    border-radius: 15px;
}
.projetos{
    display: flex;
    justify-content: center;
    padding: 180px;
}
.barbearia{
    margin: 25px;
}
.figma{
    margin: 25px;
}
.barbearia h2{
    text-align: center;
    font-family: Amatic SC;
    color:#976DF2;
    font-size: 35px;
}
.figma h2{
    text-align: center;
    font-family: Amatic SC ;
    color:#976DF2;
    font-size: 35px;
}
.computer img{
    width:100%;
    height: auto;
    margin-top: 30px;
    margin: auto;
}
.computer{
margin: auto;
width: 5%;
}
